.box{
    background-color: aqua;
    transform:translate(200px,100px);
    transform:rotate(90deg);
    transform:scale(3,2);
    transform:scalex(20);
    transform:skew(43deg);
    /* transform:matrix(a,b,c,d,e,f); */
    transform:matrix(2,3,3,2.8,3,1);
    
    /* The functions
    rotate(60deg) translate(10px, 20px);
    /* The resulting matrix */
    /* matrix(0.5, 0.866025, -0.866025, 0.5, -12.3205, 18.6603) */
}